html{
  font-size:62.5%; /*1 rem is now 10px*/
  box-sizing:border-box;
}
body
#root {
  height: 100vh;
  margin: 0;
}
body,input,select,button,textarea{
  font-size: 1.6rem;
  font-family: Helvetica, sans-serif;
}
.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a {
  text-decoration: none;
}

/* OVERALL */

header {
  grid-area: header;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ed0;
  height: 7.5vh;
  position: sticky;
}

header a {
  border: #999 0.2rem solid;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #555;
  text-decoration: none;
  font-size: 2rem;
}

.header-link {
  margin: 0rem 0.5rem;
}

main {
  margin: 1rem 0rem;
}

.content {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 90vh;
}

.navigation {
  flex: 1;
  overflow: hidden;
  border-right: solid #999 0.3rem;
  height: 100vh;
  padding-right: 1rem;
}

.navigation-option {
  border: solid #999 0.2rem;
  border-radius: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #ff8;
}

.navigation a {
  padding: 0.5rem;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.main {
  flex: 7;
}

/* USERNOTES */

.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.notes li {
  flex: 0 1 29rem;
  padding: 0.8rem;
  border: 0.1rem #bbb solid;
  border-radius: 2rem;
  margin: 0rem 0.8rem 1.5rem;
}

.note-new {
  margin: 2rem auto;
  border: 0.1rem #bbb solid;
  border-radius: 0.8rem;
  display: block;
  padding: 1rem;
  width: 30rem;
  color: #555;
  font-weight: bold;
  cursor: pointer;
}

.note-title-main {
  height: 2rem;
}

.note-single {
  width: 50rem;
  padding: 0.5rem;
}

.notes a {
  color: inherit;
  text-decoration: none;
}

.note-default {
  background-color: #ccc;
}

.note-red {
  background-color: #faa;
}

.note-yellow {
  background-color: #ff8;
}

.note-blue {
  background-color: #acf;
}

.note-delete {
  margin: 1rem;
}

/* NOTEEDITOR */

.note-title {
  font-weight: bold;
  padding: 0.1rem 0.2rem 0.8rem;
  
}

.note-content{
  height: 5rem;
  padding: 0.5rem 0.2rem;
  overflow: hidden;
  line-height: 1.6;
}

div {
  white-space: pre-wrap;
} 

.note-setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
  font-size: 1.2rem;
  color: #333;
}

.note-edit {
  padding: 2rem;
  height: 100%;
}

.note-edit input {
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  background-color: inherit;
  width: 100%;
}

.note-edit textarea {
  border: inherit;
  border-top: solid #555 0.2rem;
  padding-top: 1.4rem;
  overflow: auto;
  outline: none;
  resize: none;
  background-color: inherit;
  width: 100%;
  height: 60vh; /* need to fix this later */
}

.note-edit .dot {
  position: relative;
  top: 0.4rem;
  margin: 0.2rem;
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  border: solid #aaa 0.2rem;
  display: inline-block;
  padding: 0.1rem 0rem;
  cursor: pointer;
}

.note-edit .setcolor {
  border-right: solid #888 0.2rem;
  margin-right: 1rem;
  padding: 1rem 1rem;
}

/* BIN */
.empty {
  padding: 2rem;
}